@import '~normalize.css';

.centralizer {
  margin: 0 auto;
  font-family: Georgia, 'Century Schoolbook L', serif;
}
.textarea {
  display: block;
  width: 700px;
  height: 200px;
  margin: 10px auto 10px;
  padding: 10px;
  font-size: 18px;
  color: #374785;
}
.caseDown,
.caseUp,
.shiftCaps,
.caps {
  display: inline-block;
  width: 100;
  min-height: 40px;
}
.hidden {
  display: none;
}
.description,
.language,
.title {
  margin: 10px auto;
  text-align: center;
}
.title {
  font-size: 30px;
  color: #f76c6c;
}
.keyboard {
  width: 704px;
  margin: 0 auto;
  padding: 5px;
  padding-left: 0;
  padding-bottom: 0;
  background: #f8e9a1;
  border: 3px solid #24305e;
  border-radius: 5px;
}
.keyboard .row {
  clear: both;
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
}
.keyboard .key {
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 6px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background: #f76c6c;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  transition: border-radius 0.3s, background-color 0.3s;
}
.keyboard .key:hover {
  background: #24305e;
}
.keyboard .key.active {
  background: #a8d0e6;
  border-radius: 50px;
  z-index: 2;
  transform: scale(1.2);
}
.keyboard .Space.active {
  background: #a8d0e6;
  border-radius: 50px;
  z-index: 2;
  transform: scale(1.1);
}
.keyboard .AltLeft,
.keyboard .AltRight,
.keyboard .ArrowUp,
.keyboard .ArrowLeft,
.keyboard .ArrowDown,
.keyboard .ArrowRight,
.keyboard .Backspace,
.keyboard .CapsLock,
.keyboard .ControlLeft,
.keyboard .ControlRight,
.keyboard .Delete,
.keyboard .Enter,
.keyboard .ShiftLeft,
.keyboard .ShiftRight,
.keyboard .Tab,
.keyboard .MetaLeft {
  font-weight: 600;
  background: #374785;
}
.keyboard .Tab {
  width: 50px;
}
.keyboard .Backspace,
.keyboard .CapsLock,
.keyboard .ShiftLeft {
  width: 100px;
}
.keyboard .Delete {
  width: 44px;
}
.keyboard .Enter,
.keyboard .ShiftRight {
  width: 86px;
}
.keyboard .Space {
  width: 330px;
}
.description,
.language {
  color: #374785;
}
